{% load wagtailcore_tags wagtailsettings_tags static %}
{% wagtail_site as current_site %}

<div class="px-4">
  <div class="bg-slash opacity-50 h-4 w-full"></div>
</div>

<footer class="site-padding site-container w-full py-20">
  <div class="flex flex-col lg:flex-row gap-20 justify-between">
    {# Navigation Section #}
    {% if settings.navigation.NavigationSettings.footer_navigation %}
      <div class="grid grid-cols-2 gap-20 justify-between">
        {% for link_section in settings.navigation.NavigationSettings.footer_navigation %}
          <div class="mb-10 lg:mb-0 lg:mr-20 flex flex-col gap-10">
            <h2 class="text-xl md:text-2xl font-semibold">
              {{ link_section.value.section_heading }}
            </h2>
            <ul class="flex flex-col gap-y-4 md:gap-y-6">
              {% for link in link_section.value.links %}
                <li>
                  <a href="{{ link.value.get_url }}"
                     class="text-grey-700 dark:text-grey-200 underline underline-offset-8 decoration-[1.5px] decoration-mackerel-200 hover:decoration-mackerel-300">
                    {{ link.value.get_title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <div>
      {# Newsletter Signup Section #}
      {% if settings.utils.SystemMessagesSettings.footer_newsletter_signup_link %}
        <div class="flex flex-col max-w-96">
          <h2 class="text-xl md:text-2xl font-semibold" id="footer-newsletter-signup-title">
            {{ settings.utils.SystemMessagesSettings.footer_newsletter_signup_title }}
          </h2>
          {% if settings.utils.SystemMessagesSettings.footer_newsletter_signup_description %}
            <p class="pt-3 text-base md:text-lg text-grey-700 dark:text-grey-200 md:leading-[170%]">
              {{ settings.utils.SystemMessagesSettings.footer_newsletter_signup_description }}
            </p>
          {% endif %}
          <div class="pt-5 flex gap-1 md:gap-2.5">
            <input type="email" placeholder="Enter your email"
                   aria-labelledby="footer-newsletter-signup-title"
                   class="border-[1px] border-mackerel-200 rounded-[3px] px-5 md:py-2.5 md:px-5 text-base md:text-lg bg-white dark:bg-mackerel-100 dark:text-white">
            {% include "components/button.html" with variant="footer" title="Sign up" url=settings.utils.SystemMessagesSettings.footer_newsletter_signup_link %}
          </div>
        </div>
      {% endif %}

      {# Dynamic Social Media Links Section #}
      {% if settings.utils.SocialMediaSettings.linkedin_handle or settings.utils.SocialMediaSettings.facebook_app_id or settings.utils.SocialMediaSettings.instagram_handle or settings.utils.SocialMediaSettings.tiktok_handle %}
      <p class="sr-only">Follow us</p>
      <div class="flex flex-row gap-10 pt-14">
        {% if settings.utils.SocialMediaSettings.linkedin_handle %}
          <a href="https://linkedin.com/company/{{ settings.utils.SocialMediaSettings.linkedin_handle }}"
             aria-label="{{ current_site.site_name|default:'We&apos;re' }} on LinkedIn"
             class="hover:text-mackerel-300">
            <svg aria-hidden="true" class="fill-current w-7 h-7" width="30" height="31"
                 viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M27.8571 0.376953H2.13616C0.957589 0.376953 0 1.34794 0 2.5399V28.214C0 29.406 0.957589 30.377 2.13616 30.377H27.8571C29.0357 30.377 30 29.406 30 28.214V2.5399C30 1.34794 29.0357 0.376953 27.8571 0.376953ZM9.06696 26.0912H4.62054V11.7743H9.07366V26.0912H9.06696ZM6.84375 9.81892C5.41741 9.81892 4.26562 8.66044 4.26562 7.24079C4.26562 5.82115 5.41741 4.66267 6.84375 4.66267C8.26339 4.66267 9.42188 5.82115 9.42188 7.24079C9.42188 8.66713 8.27009 9.81892 6.84375 9.81892Z"/>
            </svg>
          </a>
        {% endif %}
    
        {% if settings.utils.SocialMediaSettings.instagram_handle %}
          <a href="https://www.instagram.com/{{ settings.utils.SocialMediaSettings.instagram_handle }}"
             aria-label="{{ current_site.site_name|default:'We&apos;re' }} on Instagram"
             class="hover:text-mackerel-300">
             <svg aria-hidden="true" class="fill-current w-7 h-7" width="30" height="31"
                viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.0033 7.68533C10.7468 7.68533 7.31344 11.1194 7.31344 15.377C7.31344 19.6345 10.7468 23.0686 15.0033 23.0686C19.2599 23.0686 22.6933 19.6345 22.6933 15.377C22.6933 11.1194 19.2599 7.68533 15.0033 7.68533ZM15.0033 20.3775C12.2527 20.3775 10.0039 18.135 10.0039 15.377C10.0039 12.6189 12.246 10.3764 15.0033 10.3764C17.7607 10.3764 20.0028 12.6189 20.0028 15.377C20.0028 18.135 17.754 20.3775 15.0033 20.3775ZM24.8015 7.37071C24.8015 8.36814 23.9983 9.16475 23.0078 9.16475C22.0106 9.16475 21.2142 8.36144 21.2142 7.37071C21.2142 6.37997 22.0173 5.57666 23.0078 5.57666C23.9983 5.57666 24.8015 6.37997 24.8015 7.37071Z"/>
            </svg>
          </a>
        {% endif %}
        
        {% if settings.utils.SocialMediaSettings.facebook_app_id %}
          <a href="https://www.facebook.com/{{ settings.utils.SocialMediaSettings.facebook_app_id }}"
             aria-label="{{ current_site.site_name|default:'We&apos;re' }} on Facebook"
             class="hover:text-mackerel-300">
            <svg aria-hidden="true" class="fill-current w-7 h-7" viewBox="0 0 18 31">
              <path d="m4.05469 17.9141v12.4629h6.79691v-12.4629h5.0683l1.0547-5.7305h-6.123v-2.0274c0-3.02925 1.1894-4.1894 4.2597-4.1894.9551 0 1.7227.02343 2.168.07031v-5.197266c-.8379-.228516-2.8887-.462891-4.0723-.462891-6.26364 0-9.15231 2.958987-9.15231 9.339847v2.4668h-3.86719v5.7305z"/>
            </svg>
          </a>
        {% endif %}
      </div>
    {% endif %}

    {# Additional Static Links with Actual Logos #}
    <div class="mt-10">
      <p class="sr-only">Additional Links</p>
      <div class="flex flex-row gap-10">
        {# Bowery Mission / Donation Link with Iconic Red Door #}
        <a href="https://www.bowery.org/donate-online/?c_src=2501BWAMB&amp;c_src2=SEM-G&amp;utm_source=google&amp;utm_medium=cpc&amp;utm_campaign=2501BWAMB&amp;gad_source=1&amp;gclid=CjwKCAiAqfe8BhBwEiwAsne6gTOLO7MoCgSHuZpvqH6s8Z4Z2NE3WjUzknjrrE-U6VHtszaHMniuRhoCIMYQAvD_BwE"
           aria-label="Donate Online" class="hover:text-mackerel-300">
          <span class="sr-only">Donate Online</span>
          {# Iconic Red Door SVG representing Bowery Mission #}
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" class="fill-current w-7 h-7">
            <rect x="8" y="8" width="48" height="48" rx="4" ry="4" fill="#C8102E"/>
            <circle cx="50" cy="32" r="2" fill="#FFFFFF"/>
          </svg>
        </a>
        {# Spotify Official Logo Link #}
        <a href="https://open.spotify.com/user/s_frizzle?si=0a458c0a9faf4a46"
           aria-label="Spotify Profile" class="hover:text-mackerel-300">
          <span class="sr-only">Spotify</span>
          <svg role="img" aria-hidden="true" class="fill-current w-7 h-7" viewBox="0 0 168 168" xmlns="http://www.w3.org/2000/svg">
            <title>Spotify</title>
            <path d="M84 0a84 84 0 1084 84A84 84 0 0084 0zm38.8 121.7a9.9 9.9 0 01-13.6 3.3c-37-22.8-83.8-27.9-138.9-15.2a9.9 9.9 0 11-4.1-19 143.6 143.6 0 01119.3-21.7 9.9 9.9 0 019.3 16.9c-40.3 19.4-74.2 24.5-123 13.4a9.9 9.9 0 01-4.3-19.3 164.8 164.8 0 00136.1 18.1 9.9 9.9 0 017.8 10.8zM123.3 93.3a12.4 12.4 0 01-16 4C66.7 70.2 39 63.1 11.8 74.3a12.4 12.4 0 01-6.7-23.7 181.5 181.5 0 01148.2-19 12.4 12.4 0 019.8 15.2zM127 68.4a15.6 15.6 0 01-20 5.1C78.3 43.2 55.3 38.4 28.6 48.2a15.6 15.6 0 11-9.5-30.2 184.7 184.7 0 01153.2 22.7 15.6 15.6 0 011.7 11.7z"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
<p class="font-codepro text-base text-black dark:text-white opacity-60 pt-10 md:pt-20 mb-10 leading-6">
  © {% now "Y" %} Wagtail Starter Kit
</p>
