
{% extends "base.html" %}

{% load static wagtailuserbar wagtailcore_tags wagtailimages_tags util_tags %}

{% wagtail_site as current_site %}

{% block meta_tags %}

{% get_favicon_url settings.utils.SystemMessagesSettings as favicon_url %}
{% if favicon_url %}
    <link rel="icon" href="{{ favicon_url }}" sizes="32x32">
{% else %}
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" sizes="32x32">
{% endif %}

<link rel="icon" href="{% static 'images/favicons/favicon.svg'%}" type="image/svg+xml">

{% get_apple_touch_icon_url settings.utils.SystemMessagesSettings as apple_touch_icon_url %}
{% if apple_touch_icon_url %}
    <link rel="apple-touch-icon" href="{{ apple_touch_icon_url }}">
{% else %}
    <link rel="apple-touch-icon" href="{% static 'images/favicons/apple-touch-icon.png' %}">
{% endif %}

<link rel="manifest" href="{% static 'images/favicons/favicon.webmanifest' %}">
<meta name="theme-color" content="#26899E"/>

{% endblock meta_tags %}

{% block header %}
    {% include "navigation/header.html" %}
{% endblock header %}


{% block footer %}
    {% include "navigation/footer.html" %}
{% endblock footer %}

